<footer>
	<div class="inner-footer">
		<article>
			<img src="images/logo.jpg">
			<p class="copyright">(c) Music Project Altmark West GbR 2018</p>
		</article>
		<article>
			<nav>
				<ul>
				<li><a href=""> Über uns </a>	</li>
				<li><a href=""> Live </a>		</li>
				<li><a href=""> Blog </a>		</li>
				<li><a href=""> Contact </a>	</li>
				</ul>
			</nav>
		</article>
		<article>
			<p class="contact">
				<strong>Music Project Altmark West GbR<strong><br>
				Hagenstraße 11<br>
				38486 Klötze<br>
				<br>
				Email: <a href="mailto:mpaw@outlook.de"> mpaw@outlook.de </a><br>
				Web:   <a href="http://www.mpaw.de"> www.mpaw.de</a>
			</p>
		</article>
	</div>
</footer>