<footer>
	<div class="inner-footer">
		<article >
			<img class="footer-logo" src="/images/logo.jpg">
			<p class="copyright">(c) Music Project Altmark West GbR 2018</p>
		</article>
		<article>
		<nav>
				<ul>
				<li><a href=""> Über uns </a>	</li>
				<li><a href=""> Konzerte </a>		</li>
				<li><a href=""> Blog </a>		</li>
				<li><a href=""> Kontakt </a>	</li>
				<li><a href=""> Impressum </a>	</li>
				<li><a href=""> Datenschutz </a></li>
				</ul>
				</nav>
				
					<a href="http://www.facebook.com/518065574877431"><i class="fab fa-facebook fa-3x"><span class="sr-only">facebook</span></i></a>
					<a href="http://twitter.com/mpaw1992"><i class="fab fa-twitter fa-3x"><span class="sr-only">twitter</span></i></a>
					<a href="https://www.youtube.com/channel/UCW-Z0yH_TakmcYgEi_SQb-Q"><i class="fab fa-youtube fa-3x"><span class="sr-only">Youtube</span></i></a>
			
		</article>

	</div>
</footer>