---
excerpt_separator: <!--more-->
---
<div class="home-events">
	<div class="home-inner-event">
		{% for event in site.events %}
			{% if forloop.first == true %}
				<article class="home-live-article">
				
					<h1>Nächstes Konzert</h1>
					<h4>{{ event.Title }} -  {{ event.Date }} </h4>
					<table>
						<tr>
							<td><i class="fas fa-city fa-2x fa-border"> </i></td>
							<td>
							<p class="event-location"> {{ event.Location}} </p></td>
						</tr>
						<tr>
							<td><i class="fas fa-church fa-2x fa-border"></i></td>
							<td><p class="event-venue"> {{ event.Venue }}<br>
							{{ event.Adress }}</p></td>
						</tr>
						<tr>
							<td><i class="fas fa-info fa-2x fa-border"> </i> </td>
							<td><p class="event-content"> {{ event.content }} </p></td>
						</tr>
						<tr>
							<td><i class="fas fa-euro-sign fa-2x fa-border"></i> </td>
							<td><p class="prize"> {{ event.Prize }} </p></td>
						</tr>
					</table>
				</article>
			{% endif %}	
		{% endfor %}	

		<article class="home-live-article">
			
			<h1>Letzter Blog</h1>
			  {% for post in site.posts %}
				{% if forloop.first == true %}
				
				  <a href="{{ post.url }}">{{ post.title }}</a>
				  <p>
					{{ post.excerpt }}
				  </p>
				{% endif %}
			  {% endfor %}
		</article>
	</div>
</div>	
