
$content-width: 1024px;
$main: #6F6F6F;
$font-family: Lato, Fira Sans, Arial, Sans-serif;
$font-style: 'Fira Sans', sans-serif;
$font-color: #777777;
$link-color: #FC9E19;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #FC9E19;;
$light: #E7EDF4;
$permalink-hover: #FC9E19;
$header:  #1D1425;
$global-background-color: #FFF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}