
$content-width: 1024px;

$font-family: "Trebuchet MS", Helvetica, sans-serif;
$heading-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$main: #6F6F6F;
$font-color: #222222;
$link-color: #FFFFFF;
$link-hover-color: $main;
$heading-font-color: #FC9E19;;
$light: #E7EDF4;
$permalink-hover: #FC9E19;
$header:  #EHEHEH;
$global-background-color: #FFFFFF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}